<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productos</title>
</head>
<body>
    <div class="container">
    <h1>Lista de Productos</h1>
    {{#if products.lenght}}
    {{#each products}}
        <div class="card">
            <h3>{{title}} </h3>
            <p>{{description}}</p>
            <div class="card-info">
                <div>USD{{price}}</div>
                <div>Stock:{{stock}}</div>
                <div>Categoria:{{categoria}}</div>
            </div>
            <div>
                <button>borrar</button>
                <button>comprar</button>
            </div>
        </div>
    {{/each}}
    
    {{else}}
    <p>no hay productos disponibles</p>
    {{/if}}
    </div>

</body>
</html>

